body {
    margin: 60px auto;
    width: 70%;
    max-width: 950px;
}
p, li {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size:1em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    clear: both;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul#days {
    list-style: none;
	margin: 0 auto;
}

ul#days li {
	display: inline;
	float:left;
    	margin: 5px;
	padding:10px;
	width:50px;
	height:50px;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
	background:#d5d5d5;
}
ul#days li.done {
	background:#ccee99;
}
