body {
    margin: 60px auto;
    width: 70%;
    max-width: 950px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p, button {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	margin-bottom:1em;
}
footer {
	clear:both;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.left {
	float:left;
}
.right {
	float:right;
}
#testone {
	width:200px;
	height:100px;
	background:#99eecc;
}
#testtwo {
	width:200px;
	height:100px;
	background:#ee99cc;
}
#testthree {
	width:200px;
	height:50px;
	background:#cc99ee;
}
#testfour {
	background:#ccee99;
}
#testfive {
	width:500px;
	background:#ccc;
}
#testsix {
}
.clear {
	clear:both;
	margin-top:2em;
}