body {
    margin: 60px auto;
    width: 70%;
    max-width: 950px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p, button, input, label {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	margin-bottom:1em;
}
input {
	width:4em;
}
footer {
	clear:both;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {
width:500px;
margin-right:10px;
}

#gameboard {
	float:right;
	margin: 0;
	position:relative;
}

#gameboard div {
	position:absolute;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: #f6f8f9; /* Old browsers */
	border: 1px solid #ddd;
}

#messages {
	float:left;
	margin-right:1em;
	max-width:425px;
}

@media (max-width: 1350px) {
	#messages {
		max-width:400px;
	}
}
@media (max-width: 1300px) {
	#messages {
		max-width:370px;
	}
}
@media (max-width: 1240px) {
	#messages {
		max-width:950px;
		text-align:center;
	}
	.message {
		text-align:center;
	}
}
#btns {
	text-align:center;
}

.message {
	margin-top:0;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}